[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "themes/hugo-paper"]
	path = themes/hugo-paper
	url = https://github.com/trai25/hugo-paper.git
